@import 'normalize.css';
@import 'main';

/*  Colors  */
$theme:#0a0a0a;
$text:#fff;
$h:#fafafa;
$a:#fff;
$a-button:#333;
$base-font:'Source Sans Pro';
$h-font:$base-font;

/*  Site    */
#map{width:100%;height:300px;}
body{
    font-family:$base-font;
    background-color:$theme;
    color:$text;
}
@include headings($h-font,$h);
a{
    color:$a;
    background-color: $a-button;
    border:1px solid $a-button;
    padding:0 2px;
    &:hover{
        color:$a;
        border:1px solid #444;
    }
}
h1{
    font-size:3em;
    font-weight: normal;
}
/*  Header    */
header{
    border-bottom:3px solid $h;
}

/*  Content    */
.content{
    position:relative;
    .project{
     img{float:left; width:100px;}
     dd{float:left;}
 }
.credits{
    position:absolute;
    right:0;
    font-size: 75%;
    background-color:#222;
    opacity:0.95;
}
}
/*  Footer    */