ul li{font-size:0.75em;font-family:Futura,Helvetica,Arial,sans-serif;margin-top:1em}
a{text-decoration:none;}
#logo{font-size:2em;font-family:Futura,Helvetica,Arial,sans-serif}
#about{font-size:0.75em;font-family:Futura,Helvetica,Arial,sans-serif;margin-top:1em}
#contact{padding-top:3em}