html{
	border:0.75em #bc3826 solid;
	font-family: 'Lato', sans-serif;
	font-size:12px;
}

a{
	text-decoration: none;
	color:#bc3826;}
ul li{
	list-style-type: none;

}
span{
	color:#bc3826;
	font-weight: bold;
}
sup{
	font-size: 60%;
	font-weight: bold;
	text-align: top;
}

.logo{
	font-family:'Lato',sans-serif;
	font-weight: 300;
	margin-top: 6em;
	font-size: 2em;
}
.description{
	font-weight: 300;
	margin-top:2em;
	font-size:1.5em;
}