$def with (page)
<html>

<head>
	<link rel="stylesheet" href="/static/styles.css" type="text/css">
	<link rel="stylesheet" href="/static/grid.css" type="text/css">

	<title>4th Main - An information design studio</title>
</head>

<body class="container">
	
	<header class="row">	
	<span id="logo" class="two"><a href="/">4th Main.</a></span>
	<span id="about" class="eight">An information design studio.</span>
	<ul>
	<li class="one last"><a href="/gallery">gallery</a></li>
	<li class="one last"><a href="/blog">blog</a></li>
	<li class="one last"><a href="/contact">contact</a></li>
	</ul>
	</header>

$:page

</body>
</html>
